<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add / Modify User Account</h4>
            </div>

            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">Username</span>
                    <input ng-model="user.name" type="text" class="form-control" placeholder="bob" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Group</span>
                    <input ng-model="user.group" type="text" class="form-control" placeholder="bob" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Password</span>
                    <input ng-model="user.password" type="text" class="form-control" placeholder="password123" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="post_account()">Add account</button>
            </div>
        </div>
    </div>
</div>