<cf-header title="Add a Host" subtitle="{{world.name}}"></cf-header>

<div class="container" style="padding-top: 25px;">

    <div class="input-group">
        <span class="input-group-addon">World Name</span>
        <input ng-model="name" type="text" class="form-control" placeholder="test-hostname" aria-describedby="basic-addon1">
    </div>

    <div style="text-align: center; padding-top: 15px;">
        <a ng-click="submit()" role="button" class="btn btn-primary" style="margin:auto">Add World</a>
    </div>
</div>